$dark: #272a31;
$orange: #ec5242;
$gray: #d3d3d3;

main {
  font-family: "Lato", sans-serif;
}

.mn-spk {
  background: $gray;
}

.black-nav,
.main-nav,
.head-banner,
.main-program,
.mp-art,
.partner-container,
footer,
.foot-cont {
  width: 100%;
}

.black-nav,
.main-nav {
  display: none;
}

.dropdownmenu-btns {
  a {
    color: $dark;
    padding-left: 20px;
  }
}

.main-btn a {
  color: $gray;
}

.main-nav li a {
  text-decoration: none;
  color: $dark;
}

.main-btn a:hover {
  color: $dark;
  text-decoration: none;
}

.main-nav li {
  a:hover {
    color: $orange;
    font-weight: bold;
  }
}

.dropdown button::after {
  content: none;
}

.eSports-btn {
  background: white;
  border: 3px solid $orange;
  color: $orange;
  padding: 10px;
  margin-top: -5px;
}

.eSports-btn:hover {
  background: $dark;
  border: $orange 3px solid;
  color: $orange;
}

.head-banner {
  position: relative;
  margin-top: 20px;
  padding-bottom: 20px;

  img {
    position: absolute;
    z-index: -1;
    opacity: 0.75;
    width: 100%;
    height: 100%;
  }

  h2 {
    padding: 100px 20px 10px 20px;
    color: $orange;
    font-size: 40px;
    font-weight: 900;
  }

  h1 {
    padding: 0 20px;
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    color: $orange;
  }
}

.banner-t,
.banner-date {
  margin: 0 20px;
  color: $dark;
  font-size: 20px;
  font-weight: bold;
  background: #d3d3d39d;
  padding: 10px;
  width: 50%;
  border: 1px solid white;

  h3 {
    color: $dark;
    font-family: 'Anton', sans-serif;
  }
}

.main-program {
  background-image: url(img/x-background.jpg);
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 20px;
  }

  h2 {
    color: $orange;
    margin-top: -30px;
    margin-bottom: 40px;
  }
}

.drop-btn {
  button {
    margin: 0;
    padding: 0;
  }

  .iconify {
    font-size: 30px;
  }
}

.mp-cont {
  width: 90%;
}

.main-btn {
  width: 80%;
  background: $orange;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 1px;
  font-weight: 700;
  cursor: pointer;
}

.mp-art {
  background-color: #d3d3d33d;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;

  h5 {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: $orange;
  }

  .iconify {
    width: 100px;
    font-size: 100px;
    margin-right: 20px;
  }

  p {
    width: 50%;
    font-size: 17px;
  }
}

.main-speakers {
  width: 100%;
  background: $gray;
  padding-bottom: 30px;

  h1 {
    text-align: center;
    color: $dark;
    padding-top: 20px;
  }

  h4 {
    color: $orange;
    margin-top: -20px;
    text-align: center;
  }
}

.speaker {
  display: flex;
  margin-bottom: 20px;
}

.speak-img {
  width: 180px;
  height: 200px;
  display: flex;
  position: relative;
  margin-right: 20px;
  transition-duration: 700ms;

  .avatar {
    width: 75%;
    height: 135px;
    margin-left: 33px;
    margin-top: 55px;
    opacity: 0.5;
    transition-duration: 700ms;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }

  .border-av {
    width: 190px;
    height: 180px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .avatar:hover {
    opacity: 1;
  }
}

.speak-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.speak-text {
  width: 70%;
  padding: 5px;
  height: 90%;
  margin-top: 30px;

  h2,
  h3,
  p {
    width: 100%;
  }

  h2 {
    font-size: 25px;
    font-family: 'Anton', sans-serif;
  }

  h3 {
    font-size: 20px;
    color: $orange;
    font-style: italic;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}

.speak-btn {
  width: 90%;
  background: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  height: 70px;
  color: $dark;
  font-weight: bold;
  border: $orange 1px solid;
  border-radius: 10px;
  cursor: pointer;

  .speak-span {
    color: $orange;
    padding-left: 10px;
  }

  p {
    padding-top: 10px;
  }
}

.partner-container {
  padding-top: 30px;
  background: #424146;
  color: $gray;

  h1,
  h2 {
    text-align: center;
  }

  h2 {
    color: $orange;
    margin-top: -30px;
  }

  img {
    width: 200px;
  }
}

.footer-logo img {
  width: 150px;
}

.partner-img-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  margin-top: 40px;

  img {
    width: 15%;
    min-width: 150px;
    height: 90px;
    margin-right: 20px;
    margin-bottom: 20px;
    filter: grayscale(100%);
    transition-duration: 700ms;
  }

  img:hover {
    filter: grayscale(0%);
    width: 20%;
    height: 130px;
  }
}

footer {
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-cont {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
  align-items: center;

  h6 {
    font-style: italic;
    font-size: 12px;
    padding-top: 10px;
  }

  p {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  .mp-art .iconify {
    font-size: 60px;
    margin: 0 auto;
    width: 95%;
  }

  .black-nav {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    background: $dark;
    color: #d3d3d3;
    align-items: center;
    padding-right: 9%;

    .iconify {
      margin-right: 10px;
    }

    a {
      padding-left: 10px;
      color: $gray;
    }

    a:hover,
    .iconify:hover {
      text-decoration: none;
      color: $orange;
    }
  }

  .main-nav {
    height: 70px;
    min-width: 770px;

    img {
      width: 150px;
      margin-top: -5px;
    }

    button {
      background: white;
      border: 3px solid $orange;
      color: $orange;
      margin-top: -5px;
    }

    button:hover {
      background: $dark;
      border: $orange 3px solid;
      color: $orange;
    }
  }

  .head-banner {
    h2 {
      padding-top: 150px;
    }

    p {
      width: 70%;
    }

    h1,
    h2 {
      padding-left: 150px;
    }

    .banner-t,
    .banner-date {
      margin-left: 150px;
      margin-top: 30px;
    }

    .banner-date {
      margin-bottom: 100px;
    }
  }

  .mp-cont {
    display: flex;
    margin: 0 auto;
  }

  .mp-art {
    width: 20%;
    flex-direction: column;
    margin-right: 5px;
    display: flex;
    text-align: center;

    h5,
    p {
      margin: 0 auto;
      width: 95%;
    }

    h5 {
      justify-content: center;
      margin: 5px 0;
    }
  }

  .main-btn {
    background: none;
    text-decoration: underline;

    a:hover {
      color: $orange;
    }
  }
}
